.container-cus-info {
   display: flex;
   flex-direction: column;
   gap: 10px;
   span {
      color: rgba(99, 99, 99);
   }
}

.container-cus-info:nth-child(2) {
   margin-top: 10px;
}
.customer-info {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 10px 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 0px;
      div {
         display: flex;
         //  gap: 30px;
      }
   }
   .sex {
      margin-right: 20px;
   }
}
.customer-info {
   .input.date.time {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: stretch;
      //   background-color: red;
      label {
         //  display: flex;
         //  justify-content: space-between;
         input:last-of-type {
            margin-left: 10px;
         }
      }
   }

   .input.room-info {
      margin-left: 10px;
      width: 220px;
      text-align: center;
   }
}

label > input[type="radio"] {
   margin-left: 5px;
}
