@import "../../../App.scss";

.container-cus-info {
   display: flex;
   flex-direction: column;
   gap: 10px;
   span {
      color: rgba(99, 99, 99);
   }
}

.container-cus-info:nth-child(2) {
   margin-top: 10px;
}
.customer-info {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 10px 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   > {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 0px;
      div {
         display: flex;
         //  gap: 30px;
      }
   }
   .sex {
      margin-right: 20px;
   }
}
.customer-info {
   position: relative;
   .input.date.time {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: stretch;
      //   background-color: red;
      label {
         //  display: flex;
         //  justify-content: space-between;
         input:last-of-type {
            margin-left: 10px;
         }
      }
   }

   .input.room-info {
      margin-left: 10px;
      width: 220px;
      text-align: center;
   }
}

label > input[type="radio"] {
   margin-left: 5px;
}

.suggest-customer-list {
   position: absolute;
   top: 40px;
   display: flex;
   flex-direction: column;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   border-radius: 5px;
   background-color: #fff;
   overflow: hidden;

   .suggest-customer-item {
      padding: 3px 10px;
   }

   .suggest-customer-item:hover {
      background-color: $btn--color;
   }
}
